.columns-3 > div {
  display: flex;
  flex-direction: column;
}

.columns-3 img {
  width: 100%;
}

.columns-3 > div > div {
  order: 1;
}

.columns-3 > div > .columns-3-img-col {
  order: 0;
}

.columns-3 > div > .columns-3-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns-3 > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns-3 > div > div {
    flex: 1;
    order: unset;
  }
}
