.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
  /* This is the background color for the entire Column */
  .columns {
  background: #F5F5F5;
  padding: 24px;
  border-radius: 12px;
  }
  /* This is the texty color for the text portions of the column */
  .columns > div > :not(.columns-img-col) {
  color: #000000;
  }
  /* This is the CTA button in the column */
  .columns > div > :not(.columns-img-col) a {
  display: inline-block;
  background: #D15A5A;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 700;
  line-height: 1;
  }
}
