main .commerce-search-order-2-container {
    max-width: 700px;
    margin: 40px auto;
    width: 100%;
}

.commerce-search-order-2 .dropin-in-line-alert {
    margin-bottom: var(--spacing-small);
}

.commerce-search-order-2 .dropin-card h2 {
    margin-bottom: var(--spacing-small);
}

.commerce-search-order-2 .dropin-card p {
    margin-bottom: var(--spacing-small);
}
