/* stylelint-disable no-empty-source */

.commerce-shipping-status-2 {
    margin-bottom: var(--spacing-small);
}

.commerce-shipping-status-2 .order-shipping-status-card {
    margin-bottom: var(--spacing-small);
}
