body:not(.columns) main div.commerce-order-header-2-wrapper {
    margin-top: var(--spacing-large);
}

body.columns main > .section > div.commerce-order-header-2-wrapper {
    margin-bottom: 0;
}

.orders-list-link {
    display: inline-block;
    margin-bottom: var(--spacing-medium);
}
