.product-details-3__wrapper {
  display: grid;
  grid-template-columns: repeat(var(--grid-1-columns), 1fr);
  column-gap: var(--grid-1-gutters);
  margin-top: var(--spacing-medium);
}

.product-details-3__left-column {
  display: none;
}

.product-details-3__right-column {
  grid-column: 1 / span 4;
  color: var(--color-neutral-800);
}

.product-details-3__alert {
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-small);
}

.product-details-3__alert:empty {
  display: none;
}

.product-details-3__header {
  margin-bottom: var(--spacing-medium);
}

.product-details-3__price {
  margin-top: var(--spacing-medium);
}

.product-details-3__gallery .pdp-carousel {
  max-height: 60vh;
}

.product-details-3__gallery .pdp-carousel--thumbnailsRow {
  max-height: 80vh;
}

.product-details-3__gallery .pdp-overlay__content .pdp-carousel,
.product-details-3__gallery .pdp-overlay__content .pdp-carousel--thumbnailsRow
{
  max-height: unset;;
}


.product-details-3__configuration {
  grid-column: 1 / span 4;
  display: grid;
  grid-auto-flow: row;
  gap: var(--grid-1-gutters);
  grid-auto-rows: max-content;
  margin-bottom: var(--spacing-xxbig);
  margin-top: var(--spacing-big);
}

.product-details-3__buttons {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--grid-1-gutters);
  grid-auto-rows: max-content;
}

.product-details-3__buttons > div {
  display: contents;
}

.product-details-3__attributes {
  margin-top: var(--spacing-xsmall);
}

@media (min-width: 900px) {
  .product-details-3__wrapper {
    grid-template-columns: repeat(var(--grid-3-columns), 1fr);
    column-gap: var(--grid-3-gutters);
    position: relative;
  }

  .product-details-3__alert {
    grid-column: 1 / span 12;
    margin-bottom: var(--spacing-medium);
  }

  .product-details-3__left-column {
    display: block;
    grid-column: 1 / span 6;
  }
  
  .product-details-3__right-column {
    grid-column: 7 / span 5;
    padding-top: var(--spacing-medium);
  }

  .product-details-3__right-column .product-details-3__gallery {
    display: none;
  }

  .product-details-3__configuration {
    grid-template-columns: repeat(var(--grid-1-columns), 1fr);
    gap: var(--grid-1-gutters);
    margin-top: var(--spacing-xxbig);
  }

  .product-details-3__options {
    grid-column: 1 / span 4;
  }

  .product-details-3__buttons {
    grid-column: 1 / span 4;
  }

  .product-details-3__quantity {
    grid-column: 1 / span 2;
  }
}
