body:not(.columns) main div.commerce-return-header-2 {
    margin-top: var(--spacing-large);
}

body.columns main > .section > div.commerce-return-header-2 {
    margin-bottom: 0;
}

.returns-list-header {
    display: inline-block;
    margin-bottom: var(--spacing-medium);
}
