.carousel-1-container {
  max-width: var(--med-grid-layout);
  padding: 0 15px;
  margin: 0 auto;
}

.carousel-1 .carousel-1-slides-container {
  position: relative;
}

.carousel-1 .carousel-1-slides,
.carousel-1 .carousel-1-slide-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel-1 .carousel-1-slides {
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: scroll clip;
  min-height: 360px;
}

.carousel-1 .carousel-1-slides::-webkit-scrollbar {
  display: none;
}

.carousel-1 .carousel-1-slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  position: relative;
  width: 100%;
}

.carousel-1 .carousel-1-slide:has(.carousel-1-slide-content[data-align="center"]) {
  align-items: center;
}

.carousel-1 .carousel-1-slide:has(.carousel-1-slide-content[data-align="right"]) {
  align-items: flex-end;
}

.carousel-1 .carousel-1-slide-image {
  width: 65%;
}

@media (width <= 768px) {
  .carousel-1 .carousel-1-slide-image {
    width: unset;
  }
}

.carousel-1 .carousel-1-slide .carousel-1-slide-content {
  width: 35%;
  z-index: 1;
  padding: 2.5rem;
  color: white;
  background-color: var(--color-neutral-200);
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (width <= 768px) {
  .carousel-1 .carousel-1-slide .carousel-1-slide-content {
    width: unset;
  }
}

.carousel-1 .carousel-1-slide .carousel-1-slide-image picture > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-1 .carousel-1-slide .carousel-1-slide-content h2 {
  font-size: var(--heading-font-size-s);
  font-family: var(--heading-font-family);
  color: var(--color-black-200);
  line-height: normal;
  margin: 0;
}

.carousel-1 .carousel-1-slide .carousel-1-slide-content p {
  margin: 1rem 0;
  color: var(--color-black-100);
  font-size: var(--body-font-size-xs);
  line-height: 16px;
}

.carousel-1 .carousel-1-slide .carousel-1-slide-content p:first-of-type {
  font-size: var(--body-font-size-s);
  line-height: 20px;
  margin-top: 3rem;
}

.carousel-1 .carousel-1-slide .carousel-1-slide-content h2::after {
  border-bottom: 2px solid var(--color-brand-500);
  content: "";
  display: block;
  padding-top: 8px;
  width: 90px;
}

.carousel-1 .carousel-1-slide-indicators {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.carousel-1 .carousel-1-slide-indicator button {
  width: 8px;
  height: 8px;
  padding: 0;
  border-radius: 1rem;
  background-color: rgba(0 0 0 / 25%);
}

.carousel-1 .carousel-1-slide-indicator button:disabled,
.carousel-1 .carousel-1-slide-indicator button:hover,
.carousel-1 .carousel-1-slide-indicator button:focus-visible {
  background-color: rgba(0 0 0 / 80%);
}

.carousel-1 .carousel-1-slide-indicator span,
.carousel-1 .carousel-1-navigation-buttons span {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.carousel-1 .carousel-1-navigation-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -2.5rem;
  right: -2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

@media (width <= 768px) {
  .carousel-1 .carousel-1-navigation-buttons {
    left: -2rem;
    right: -2rem;
  }
}

/* stylelint-disable-next-line no-descending-specificity */
.carousel-1 .carousel-1-navigation-buttons button {
  border-radius: 0;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  position: relative;
  background-color: var(--color-black-100);
}

.carousel-1 .carousel-1-navigation-buttons button:hover,
.carousel-1 .carousel-1-navigation-buttons button:focus-visible {
  background-color: rgba(0 0 0 / 80%);
  cursor: pointer;
}

.carousel-1 .carousel-1-navigation-buttons button::after {
  display: block;
  content: "";
  border: 3px white solid;
  border-bottom: 0;
  border-left: 0;
  height: 6px;
  width: 6px;
  position: absolute;
  top: 50%;
  left: calc(50% + 3px);
  transform: translate(-50%, -50%) rotate(-135deg);
}

.carousel-1 .carousel-1-navigation-buttons button.slide-next::after {
  transform: translate(-50%, -50%)  rotate(45deg);
  left: calc(50% - 3px);
}

@media (width <= 768px) {
  .carousel-1 .carousel-1-slide .carousel-1-slide-content[data-align="justify"] {
    --slide-content-width: auto;
  }
}