body.modal-2-open {
    overflow: hidden;
}

.modal-2 dialog {
    --dialog-border-radius: var(--shape-border-radius-2);

    overscroll-behavior: none;
    border: var(--shape-border-width-1) solid var(--color-neutral-400);
    border-radius: var(--dialog-border-radius);
    width: 100vw;
}

.modal-2 dialog .modal-2-content {
    overflow-y: auto;
    overscroll-behavior: none;
    max-height: calc(100dvh - 60px);
}

.modal-2 dialog::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

.modal-2 .close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    color: var(--color-brand-600);
    line-height: 0;
}

.modal-2 .close-button .icon.icon-close {
    content: "";
    width: 24px;
    height: 24px;
}

.modal-2 .close-button .icon.icon-close::before,
.modal-2 .close-button .icon.icon-close::after {
    content: "";
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 24px;
    height: 2px;
    border-radius: var(--shape-border-radius-1);
    background-color: currentcolor;
}

.modal-2 .close-button .icon.icon-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-2 .close-button span {
    cursor: pointer;
}

.modal-2 dialog .section {
    padding: 0;
}

@media (min-width: 600px) {
    .modal-2 dialog {
        width: 80vw;
        max-width: 700px;
    }

    .modal-2 dialog .modal-2-content {
        max-height: calc(100vh - 90px);
    }
}
