.cards-2-container .cards-2-wrapper {
  margin-top: var(--spacing-xbig);
}

.cards-2 > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: var(--spacing-medium);
}

.cards-2 > ul > li {
  border: var(--shape-border-width-1) solid var(--color-neutral-500);
  background-color: var(--background-color);
}

.cards-2 .cards-2-card-body {
  margin: var(--spacing-small);
}

.cards-2 .cards-2-card-image {
  line-height: 0;
}

.cards-2 > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
